<!DOCTYPE html>
<html>
<head>
    <title>Game!</title>
</head>
<body>
    Play Game:
    <form action="/madlib">
        A person <input type="text" name="person"><br>
        A color <input type="text" name="color"><br>
        A noun <input type="text" name="noun"><br>
{#         An adjective <input type="text" name="adjective"><br>
        Another adjective <input type="text" name="adjective_1"><br>
        Yet another adjective <input type="text" name="adjective_2"><br> #}

        <input type="checkbox" name="adjective" value="extrodinary">
        <label>Extrodinary</label>

        <input type="checkbox" name="adjective" value="beautiful">
        <label>Beautiful</label>

        <input type="checkbox" name="adjective" value="crazy">
        <label>Crazy</label>


        <button type="submit">Show me my creation!</button>
    </form>
</body>
</html>